body {
  background-color: #00cc66 ;}
h1 { color: #000033 ; 
   }
p {
  font-size:16px;
  color: #660033 ; 
}
header {
  border-bottom: solid 5px #6600ff;
  padding: 10px;
font-size: 22px;
  color: white;
}


